.large-text {
  font-size: large;
}

.icon {
  height: 18px;
  width: 22px;
  object-fit: contain;
}

.favicon {
  height: 30px;
}

.flag {
  height: auto;
  width: auto;
  max-width: 30px;
  max-height: 20px;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    background-color: #17a2b8;
}

.control-title {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  min-width: 75px;
}

.alert-container {
  top: 20px;
}

.hidden {
  display: none;
}

.dt-body-center{
  text-align: center;
}

@media screen and (max-width: 767px) {
  div.dt-buttons {
    float:none;
    width:auto;
    text-align:center;
    margin-bottom:0.5em
  }
  div.dt-buttons a.btn {
    float:none
  }
}
